
.landingpage-img{
    background-image: url("../images/hotel-bg.jpg");
    height: 500px;
}
.reservation-dialog{
    background-color: #EEEEEF;
    border-top: 2px solid #A80000;
    padding: 10px;
}

.reservation-dialog
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.reservation-dialog
input{
    line-height: 0.9;
}
.reservation-dialog
.fa{
    background-color: #EDEDEF;
}

.reservation-dialog
.fa-bed{
    background-color: #EDEDEF;
    color: black;
    font-size: 30px;
}

#rooms{
    background-color: #F1F1F1;
}
#rooms
.row{
    margin-top: 0px;
    padding-top: 20px;
}

#rooms
.card{
    padding: 0px;
    margin-bottom: 20px;
}

.footer{
    background-color: #eeeef0;
    color: #212529;
}

.social-icon{
    width: 10%;
    height: auto;
    padding: 5px;
}

.react-datepicker__input-container
input{
    background-color: whitesmoke;
    width: 120px;
    text-align: center;
    color: red;
    font-weight: bold;
    border: 1px solid #155724;

}
.reservation-dialog
.form-control {
    color: red;
    text-align: center;
    font-weight: bold;
    width: 60px;
    border: 1px solid #155724;

}
.bg-light{
    background-color: #ffffff;
}
.hotelName{
    font-family: 'Monoton', cursive;
}
.hotel-name{
    font-family: 'Shrikhand', cursive;
}